@font-face {
    font-family: 'Neutra Text';
    src: url('../public/fonts/Neutra Text/Neutra Text Book/Neutra Text Book.otf') format('truetype');
  
  }
  .App{
    font-family: 'Neutra Text', sans-serif;
    color:#322625;
  }
   